@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "color.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.2rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3.9em;
}

#fixed-nav {
    font-weight: 600;
    background-color: var(--lichtblauw);
    position: fixed;
    width: 100%;
    height: 3em;
    display: grid;
    grid-template-columns: 1fr 0fr;
    place-items: center;
    color: white;
}

#home {
    font-weight: bolder;
    margin-left: 0.5rem;
}

#burgirClosed, #burgirOpen {
    width: 2em;
    height: 2em;
    position: fixed;
    background-color: var(--lichtblauw);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5em;
    bottom: 1em;
    right: 1em;
    cursor: pointer;
    display: grid;
    place-items: center;
    padding: 0.3rem;
}

.line {
    background-color: var(--wit);
    width: 1em;
    height: 0.2rem;
    border-radius: 5px;
}

#burgirOpen > div {
    background-color: var(--wit);
    width: 1em;
    height: 0.2rem;
    border-radius: 5px;
}

#burgirOpen > #topline {
    transform: translate(0, 0.455rem) rotate(45deg);
}

#burgirOpen > #bottomline {
    transform: translate(0, -0.455rem) rotate(-45deg);
}

nav {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: 1em;
    width: 8em;
}

nav ul {
    display: grid;
    place-items: center;
}

li {
    list-style: none;
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1em;
    width: 100%;
    background-color: rgba(11, 26, 58, 0.9);
}

a {
    text-decoration: none;
    color: var(--wit);
    font-size: 1em;
}

a:hover {
    color: var(--lichtblauw);
}

#content {
    padding-top: 3em;
}

#content h1 {
    font-size: 1.5rem;
    background-color: var(--blauw);
    border-radius: 1em;
    margin: 0.5rem 20% 0.5rem 20%;
    color: var(--wit);
    padding: 0.1rem;
    text-align: center;
}

.ik {
    position: relative;
    margin: auto;
    margin-top: 0.5em;
    background-color: var(--groen);
    padding: 2.2em;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    z-index: -1;
}

#ik {
    width: 3em;
    transform: translate(-1.6em, -1.5em);
}

.aboutgrid, form, .sectie {
    padding: 1em;
}

#fullBar {
    color: white;
    background-color: var(--lichtblauw);
    border-radius: 1em;
    margin: 0.5rem;
}

.percent {
    font-size: 1rem;
    padding: 0.1rem;
    border-radius: 1em;
    width: 50%;
    padding-left: 1em;
    background-color: var(--groen);
}

#html {
    width: 90%;
}

#css {
    width: 80%;
}

#js {
    width: 65%;
}

#react {
    width: 55%;
}

#py {
    width: 70%;
}

#java {
    width: 60%;
}

#sql {
    width: 65%;
}

#zatre, #dubplace {
    width: 80%;
    margin-left: 10%;
}

figcaption {
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 1em;
}

form {
    display: grid;
    width: 90%;
    margin: auto;
}

.forminput {
    width: 100%;
    padding: 0.5rem;
    padding-left: 1em;
    border-radius: 1em;
    border-color: var(--lichtblauw);
    margin-bottom: 0.5rem;
}

.formlabel {
    margin-left: 1.5em;
    background-color: var(--lichtblauw);
    width: 5em;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.2rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    color: var(--wit);
}

#name, #email {
    font-size: 1rem;
}

#message {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    resize: none;
    border-color: var(--lichtblauw);
    border-radius: 1rem;
}

#submit{
    width: 9em;
    place-self: center;
    background-color: var(--groen);
    color: var(--wit);
    border: none;
    border-radius: 1em;
    padding: 0.6rem;
}

footer p{
    font-size: 0.5em;
    text-align: center;
}