@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Anonymous Pro', monospace;
    margin: 0;
    padding: 0;
}

#fixed-nav {
    background-color: gray;
    position: fixed;
    width: 25%;
    height: 100vh;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}



#content {
    margin-left: 25%;
    padding: 1em;
}
