.content {
    display: flex;
    place-items: center;
}

.content > img {
    width: 5rem;
}

.link-btn {
    place-self: center;
}

.ok-btn {
    background-color: var(--grey);
    border: none;
    border-radius: 0;
    outline: 1px solid var(--black);
    padding: 0;
    box-shadow: .5px .5px 0 1.5px var(--black);
    border-bottom: 2px solid var(--darkgray);
    border-right: 2px solid var(--darkgray);
    border-top: 2px solid var(--grey);
    border-left: 2px solid var(--grey);
}

.ok-btn > p {
    border: 1px dotted var(--black);
    border-radius: 2px;
    width: 5rem;
}

.ok-btn:hover {
    border-color: transparent;
}