.window {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    width: 20rem;
    height: 10rem;
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.title {
    background-color: var(--blue);
    color: var(--white);
    padding-left: 4px;
}

.content {
    display: flex;
    place-items: center;
}

.content > img {
    width: 5rem;
}

.link-btn {
    place-self: center;
}

.ok-btn {
    background-color: var(--grey);
    border: none;
    border-radius: 0;
    outline: 1px solid var(--black);
    padding: 0;
    box-shadow: .5px .5px 0 1.5px var(--black);
    border-bottom: 2px solid rgb(142, 142, 142);
    border-right: 2px solid rgb(142, 142, 142);
    border-top: 2px solid var(--grey);
    border-left: 2px solid var(--grey);
}

.ok-btn > p {
    border: 1px dotted var(--black);
    border-radius: 2px;
    width: 5rem;
}

.ok-btn:hover {
    border-color: transparent;
}