.border-style {
    border-top: 2px solid var(--white);
    border-left: 2px solid var(--white);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.window {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    padding: 1px;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.title {
    background-color: var(--blue);
    color: var(--white);
    padding-left: 4px;
    display: flex;
    justify-content: space-between;
}

.title > p {
    color: var(--white)
}

.title > a {
    margin: 4px;
    color: var(--black);
    text-decoration: none;
    background-color: var(--grey);
    font-size: .5rem;
    width: 1rem;
    aspect-ratio: 1/1;
    text-align: center;
}





