:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #c3c3c3;
  --green: #008080;
}

@font-face {
  font-family: "Windows Regular";
  src: url("/src/assets/Windows\ Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Windows Regular";
}

body {
    background-color: var(--green);
}