:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #c0c0c0;
  --darkgray: #707070;
  --green: #008080;
  --blue: #000080;
}

@font-face {
  font-family: "Windows Regular";
  src: url("/src/assets/fonts/Windows\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Windows Bold";
  src: url("/src/assets/fonts/Retro\ Gaming.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Windows Regular";
}

body {
    background-color: var(--green);
    cursor: url("/src/assets/images/pointer.png"), auto;
}
