#root {
  width: 100%;
  padding: 6rem;
  text-align: center;
}

#site {
  display: grid;
  gap: 5em;
}

#scrollbtn {
  padding: 0;
  display: grid;
  place-items: center;
}

@media (prefers-color-scheme: light) {
  #scrollbtn {
    background-color: #242424;
  }
  #scrollbtn > svg {
    fill: #ffffff;
  }
}