:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  cursor: url("/src/assets/images/arrow.cur"), auto;
}

.poiner, a, button {
  cursor: url("/src/assets/images/Cursor_15.cur"), auto !important;
}

.tiles {
	background-image:  
		repeating-linear-gradient(45deg, var(--grey) 25%, transparent 25%, transparent 75%, var(--grey) 75%, var(--grey)), 
		repeating-linear-gradient(45deg, var(--grey) 25%, var(--white) 25%, var(--white) 75%, var(--grey) 75%, var(--grey));
	background-position: 0 0, 1px 1px;
	background-size: 2px 2px;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #c0c0c0;
  --darkgray: #707070;
  --green: #008080;
  --blue: #000080;
}

@font-face {
  font-family: "Windows Regular";
  src: url("/src/assets/fonts/Windows\ Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Windows Bold";
  src: url("/src/assets/fonts/Retro\ Gaming.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: "Windows Regular";
}

body {
    background-color: var(--green);
}